<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<!-- 
	  - Our entry point.
	  -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<!--
	  - Servlet definitions.
	  -
	  - The OAuthCallbackListener listens at the redirect URI, waiting for control
	  - to be handed back to the application after the identity provider has presented
	  - the user with the user-consent screen.  Depending on the user's reaction to
	  - the user-consent screen, the OAuthCallbackListener redirects to either the
	  - YouRockServlet or the UhOhServlet.  The user is redirected to the YouRockServlet
	  - if the user authenticates successfully and authorizes the application.
	  - Otherwise, the user is redirected to the UhOhServlet.
	  -->
	<servlet>
		<servlet-name>OAuthCallbackListener</servlet-name>
		<servlet-class>com.worldsmostinterestinginfographic.servlet.OAuthCallbackListener</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>YouRockServlet</servlet-name>
		<jsp-file>/WEB-INF/jsp/you-rock.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>UhOhServlet</servlet-name>
		<jsp-file>/WEB-INF/jsp/uh-oh.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>PrivacyPolicyServlet</servlet-name>
		<jsp-file>/WEB-INF/jsp/privacy-policy.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>TestServlet</servlet-name>
		<servlet-class>com.worldsmostinterestinginfographic.servlet.Test</servlet-class>
	</servlet>
	
	<!--
	  - Servlet mappings.
	  -
	  - We only have 3 endpoints other than the landing page.  One is for our entry
	  - point, which redirects to one or the other based on the user's reaction.  The simple
	  - workflow looks like...
	  -
	  -										callback
	  -										 /   \
	  -										/	  \
	  -									   /	   \
	  -								   you-rock   uh-oh
	  -
	  -->
	<servlet-mapping>
		<servlet-name>OAuthCallbackListener</servlet-name>
		<url-pattern>/callback</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>YouRockServlet</servlet-name>
		<url-pattern>/you-rock</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UhOhServlet</servlet-name>
		<url-pattern>/uh-oh</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PrivacyPolicyServlet</servlet-name>
		<url-pattern>/privacy-policy</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TestServlet</servlet-name>
		<url-pattern>/test</url-pattern>
	</servlet-mapping>
	
</web-app>
